body {
  background-color: #554d70;
}
#image {
  margin: 10px 0 3px 0;
  width: 60vw;
  min-width: 200px;
  border-radius: 25px;
  max-width: 100%;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  margin: 0 auto;
}
p {
  font-size: 20px;
  color: #f0e0e9;
}

#smaller {
  font-size: 20px;
}

#img-div {
  background-color: #c98b99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 25px;
  width: fit-content;
  padding: 20px 70px;
}

.bolder {
  font-weight: bold;
  color: #f6f3f7;
}

.divider {
  margin: 1px auto;
  border-bottom: 1px solid #fff;
}

#tribute-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  margin: 30px auto;
}
.divider {
  width: 90%;
  padding: 10px;
  border-bottom: 3px solid #efe9f1;
}

footer {
  color: #fff;
  font-size: 19px;
  margin: 30px auto;
  text-align: center;
}

#tribute-link {
  text-decoration: none;
  color: #c98b99;
}

a:hover {
  cursor: pointer;
}

* {
  scroll-behavior: smooth;
}
